// Variables


//colors 

$color-primary: #222852;
$color-secondary: #ececf1;
$color-title: #333366;
$color-dark: #0b0b22;
$color-grey:#3f3f3f;

//fonts

$font-family-titles: 'Rubik', sans-serif;
$font-family-text: 'Inter', sans-serif ;
$font-size-base: 16px;
